@model List<MedSync.Core.Application.ViewModels.LabResult.LabResultViewModel>
@using MedSync.Core.Application.ViewModels.LabResult
@using MedSync.Core.Domain.Enums
@{
    ViewData["Title"] = "Mantenimiento de resultados";
}

<div class="container-fluid px-0">

    <div class="row">

        @if (Model == null || Model.Count == 0)
        {
            <h2 class="text-dark">No se encontraron resultados</h2>
        }
        else
        {
            <div class="card bg-light">
                <table class="table table-hover table-light">
                    <thead>
                        <tr>
                            <th scope="col">Paciente</th>
                            <th scope="col">Cedula</th>
                            <th scope="col">Prueba</th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (LabResultViewModel labResult in Model)
                        {
                            @if(labResult.Status != Status.Completed)
                            {
                                <tr>
                                    <td>@labResult.Patient.Name @labResult.Patient.LastName</td>
                                    <td>@labResult.Patient.IdentificationNumber</td>
                                    <td>@labResult.LabTest.Name</td>

                                    <td>

                                        <a asp-controller="LabResult" asp-action="ReportResult" asp-route-id="@labResult.Id" type="button" class="btn btn-sm btn-outline-info">Finalizar Prueba</a>

                                    </td>

                                </tr>
                            }
                           
                        }

                    </tbody>
                </table>
            </div>


        }


    </div>
</div>